**/*.iml
**/.idea
**/*.tar
**/*.cdx
**/*.spdx.json
report/.parcel-cache/
report/node_modules
report/dist
k6-load-testing/node_modules
report/src/loadtest-results.json
/golang-chi/app/vendor/
**/kustomization.yaml